.editor {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #f0f0f0;
}

.preview {
    min-height: 8.75em;
}

.markdown > textarea {
    width: 98%;
    min-height: 8.75em;
    resize: vertical;
    outline: none;
    border: none;
    padding: 10px 5px;
}

.bottom-tool-bar {
    text-align: right;
    font-size: 12px;

    span {
        padding: 10px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
}