@import '~@/style/config.styl';

.collection-title {
    position: relative;
    padding: 0 0 1rem 1.2rem;
    font-size: 1.2rem;
    line-height: 1;

    &:before {
        position: absolute;
        top: 0.25rem;
        left: calc(-0.5rem + 1px);
        z-index: 1;
        width: 0.5rem;
        height: 0.5rem;
        border: 0.25rem solid #49b1f5;
        border-radius: 0.5rem;
        background: #fff;
        content: '';
        line-height: 0.5rem;
        transition: all 0.2s ease-in-out;
    }

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        width: 0.15rem;
        height: 1.3rem;
        background: #a4d8fa;
        content: '';
    }
}

.collection-items {
    color: #4c4948;
    font-size: 14px;
    line-height: 2;
    padding-left: 1rem;
    border-left: 0.15rem solid #a4d8fa;
}

.collection-item {
    font-size: 14px;
    line-height: 2;
    position: relative;
    margin-bottom: 0.8rem;
    transition: all 0.2s ease-in-out;

    &:before {
        position: absolute;
        top: 0.48rem;
        left: calc(-1rem - 7px);
        width: 0.3rem;
        height: 0.3rem;
        border: 0.15rem solid #49b1f5;
        border-radius: 0.3rem;
        background: #fff;
        content: '';
        line-height: 0.3rem;
        transition: all 0.2s ease-in-out;
    }

    &:hover:before {
        border-color: #ff7242;
    }
}
