@import '~@/style/config.styl';

div.posts-collection {
    div.title {
        position: relative;
        padding-bottom: 1.2rem;
        padding-left: 1rem;
        font-size: 1.2rem;
        line-height: 1;

        &:before {
            position: absolute;
            top: 0.25rem;
            left: calc(-0.5rem + 1px);
            z-index: 1;
            width: 0.5rem;
            height: 0.5rem;
            border: 0.25rem solid #49b1f5;
            border-radius: 0.5rem;
            background: #fff;
            content: '';
            line-height: 0.5rem;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
            width: 0.1rem;
            height: 1.3rem;
            background: #a4d8fa;
            content: '';
        }
    }

    .posts {
        padding-left: 1rem;
        border-left: 2px solid #a4d8fa;
    }

    .post {
        position: relative;
        margin-bottom: 1rem;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:before {
            position: absolute;
            top: 0.48rem;
            left: calc(-1rem - 7px);
            width: 0.3rem;
            height: 0.3rem;
            border: 0.15rem solid #49b1f5;
            border-radius: 0.3rem;
            background: #fff;
            content: '';
            line-height: 0.3rem;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        &:hover:before {
            border-color: #ff7242;
            border-top-color: rgb(255, 114, 66);
            border-right-color: rgb(255, 114, 66);
            border-bottom-color: rgb(255, 114, 66);
            border-left-color: rgb(255, 114, 66);
        }

        span {
            margin: 0 5px 0 0;
        }

        .time {
            color: $darkgray;
        }
    }
}
