.post-header {
    text-align: center;

    .title {
        font-size: 1.7em;
    }
}

.meta {
    font-size: smaller;
}

.post-footer {
    text-align: right;

    .time {
        font-weight: 400;
        color: #aaa;
    }
}
