@import '~@/style/config.styl';

.post-item {
    margin-bottom: 10px;
}

.edit-btn {
    display: inline;
    float: right;
}

.title {
    text-align: center;
    color: $black;
    width: 100%;
    float: left;
    font-size: 18px;
    padding-bottom: 5px;

    &:hover {
        color: $green;
    }
}

.meta {
    text-align: center;

    span {
        font-size: 13px;
        padding-right: 5px;
        color: $darkgray;
    }

    .time {
    }
}
