@font-face {
    font-family: 'iconfont'; /* project id 1529116 */
    src: url('//at.alicdn.com/t/font_1529116_h1whv74z34r.eot');
    src: url('//at.alicdn.com/t/font_1529116_h1whv74z34r.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1529116_h1whv74z34r.woff2') format('woff2'), url('//at.alicdn.com/t/font_1529116_h1whv74z34r.woff') format('woff'), url('//at.alicdn.com/t/font_1529116_h1whv74z34r.ttf') format('truetype'), url('//at.alicdn.com/t/font_1529116_h1whv74z34r.svg#iconfont') format('svg');
}

[class^='icon-']:before, [class*=' icon-']:before {
    font-family: 'iconfont';
    font-style: normal;
    font-weight: normal;
}

.icon-bold:before {
    content: '\ec85';
}

.icon-italic:before {
    content: '\ec8a';
}

.icon-link:before {
    content: '\ec80';
}

.icon-undo:before {
    content: '\ec0b';
}

.icon-eye:before {
    content: '\ec8b';
}

.icon-list-ul:before {
    content: '\ec8e';
}

.icon-list-ol:before {
    content: '\ec82';
}

.icon-underline:before {
    content: '\ec89';
}

.icon-quote:before {
    content: '\ec81';
}

.icon-code:before {
    content: '\ec83';
}

.icon-superscript:before {
    content: '\ec87';
}

.icon-subscript:before {
    content: '\ec8c';
}

.icon-save:before {
    content: '\ec0c';
}

.icon-calendar:before {
    content: '\e71f';
}

.icon-people:before {
    content: '\e715';
}

.icon-folder:before {
    content: '\e61d';
}

.icon-markdown:before {
    content: '\e6f5';
}