@import './config.styl';

.router-tab-list {
    border-bottom: 1px solid #f6f6f6;

    .router-tab-item {
        display: inline-block;
        padding: 0 20px;

        a {
            font-size: 16px;
            position: relative;
            display: inline-block;
            padding: 4px 0;
            line-height: 22px;
            color: $black;
            text-align: center;
        }

        .router-link-exact-active {
            font-weight: 600;
            margin-bottom: -2px;
            border-bottom: 2px solid #46bd87;
        }
    }
}

// 标签群
.tag-area {
    .tag {
        display: inline-block;
        color: $black;
        margin: 0 0.2rem 0.2rem 0;
        padding: 0.2rem 0.6rem;
        border-radius: 0.6rem;
        background: $gray;
        font-size: 13px;

        &:hover {
            background: $darkgray;
        }
    }

    a {
    }
}

// 提示信息前缀
.prefix {
    font-weight: 500;
    color: lighten($textColor, 25%);
}
