@import "./containers.styl";

div.md a.header-anchor {
    font-size: .85em;
    float: left;
    margin-left: -.87em;
    padding-right: .23em;
    margin-top: .125em;
    opacity: 0;
}

div.md h1:hover .header-anchor,
div.md h2:hover .header-anchor,
div.md h3:hover .header-anchor,
div.md h4:hover .header-anchor,
div.md h5:hover .header-anchor,
div.md h6:hover .header-anchor {
    opacity: 1;
}

div.md a.header-anchor:hover {
    text-decoration-line: underline;
    color: #ff7242;
}

div.md blockquote,
div.md dl,
div.md ol,
div.md :not(.custom-block) p,
div.md pre,
div.md table,
div.md ul {
    margin-bottom: 16px;
    margin-top: 0;
}

div.md :not(pre)>code {
    background-color: rgba(27, 31, 35, .05);
    color: crimson;
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
    font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace, Helvetica Neue For Number !important;
}

div.md ul {
    margin-top: 0.4rem;
    padding: 0 0 0 0.8rem;
    list-style: none;
    counter-reset: li;
}

div.md ul li {
    position: relative;
    margin: 0.2rem 0;
    padding: 0.1rem 0.5rem 0.1rem 1.5rem;
}

div.md ul>li:before {
    top: 10px;
    margin-left: 0.45rem;
    width: 0.3rem;
    height: 0.3rem;
    border: 0.15rem solid #3eaf7c;
    border-radius: 0.3rem;
    background: #fff;
    content: "";
    line-height: 0.3rem;
}

div.md ul li:before {
    position: absolute;
    left: 0;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

div.md ul>li:hover:before {
    border-color: #ff7242;
}

div.md li:before,
ul li:before {
    position: absolute;
    top: 0;
    left: 0;
    background: #3eaf7c;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* 图片 */
div.md img {
    margin: 0 auto 25px;
    box-sizing: border-box;
    padding: 3px;
    border: 1px solid #ddd;
    display: block;
    max-width: 35%;
    height: auto;
}